// Collections are groupings of content that are visually contained and organized.
// They are useful for sectioning content in busy layouts.
//
// Example Usage:
// <ul class="weave-collection weave-collection--pad-sm">
//   <li class="weave-collection__item">Some collection item</li>
// </ul>

.weave-collection {
  --elevation: var(--elevated-0);

  @extend %u-list-unstyled !optional;

}

// Calculating the inset this way allows us to account for borders between rows
$collection-inset--sm: calc(#{space(sm)} - 1px) space(sm) space(sm);
$collection-inset--md: calc(#{space(md)} - 1px) space(md) space(md);
$collection-inset--lg: calc(#{space(lg)} - 1px) space(lg) space(lg);
$collection-border: 1px solid color(gray-light);

.weave-collection {
  // remove list styles when appropriate
  @extend %u-list-unstyled !optional;

  &--hoverable > .weave-collection__item {
    &:hover {
      @extend %elevated--1;
      @include transition(box-shadow);
    }

    &.is-active {
      @extend %elevated--2;
    }
  }

  &--pad-sm {
    & > .weave-collection__item {
      padding: $collection-inset--sm;
    }
  }

  &--pad-md {
    & > .weave-collection__item {
      padding: $collection-inset--md;
    }
  }

  &--pad-lg {
    & > .weave-collection__item {
      padding: $collection-inset--lg;
    }
  }
}

.weave-collection__item {
  border-left: $collection-border;
  border-right: $collection-border;
  border-top: $collection-border;

  &:first-of-type {
    border-top-left-radius: $rounded--default;
    border-top-right-radius: $rounded--default;
  }

  &:last-of-type {
    border-bottom: $collection-border;
    border-bottom-left-radius: $rounded--default;
    border-bottom-right-radius: $rounded--default;
    margin-bottom: -1px; // Fix single pixel margin off
  }
}


// Status indicators
//<li class="weave-collection__item weave-collection-indicator">
.weave-collection-indicator {
  padding-left: space(lg) !important;
  position: relative;

  &::before {
    bottom: space(xs);
    content: '';
    left: space(xs);
    position: absolute;
    top: space(xs);
    width: space(sm);
  }

  &--neutral {
    &::before {
      background-color: color(gray-light);
    }
  }

  &--accent {
    &::before {
      background-color: color(mint-dark);
    }
  }

  &--success {
    &::before {
      background-color: color(kiwi);
    }
  }

  &--alert {
    &::before {
      background-color: color(watermelon);
    }
  }
}
