@mixin weave-button {
  @include transition(background-color, box-shadow, outline);
  border-radius: var(--border-radius);
  display: var(--display-as);
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: var(--py) var(--px);
  box-shadow: var(--elevation);
  margin: var(--spacing-sm);
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: center;
}

@mixin weave-button--xs {
  --py: var(--spacing-none);
  --px: var(--spacing-sm);
  @include weave-type-and-line-height('f0', false);
}

@mixin weave-button--sm {
  --py: var(--spacing-xs);
  --px: var(--spacing-md);
  @include weave-type-and-line-height('f1', false);
}

@mixin weave-button--md {
  --py: var(--spacing-sm);
  --px: var(--spacing-lg);
  @include weave-type-and-line-height('f2', false);
}

@mixin weave-button--lg {
  --py: var(--spacing-md);
  --px: var(--spacing-xl);
  @include weave-type-and-line-height('f3', false);
}

@mixin weave-button--responsive {
  @include viewport-equal-to-and-smaller-than('full') {
    @include weave-button--lg;
  };

  @include viewport-equal-to-and-smaller-than('lg') {
    @include weave-button--md;
  };

  @include viewport-equal-to-and-smaller-than('sm') {
    @include weave-button--sm;
  };

  @include viewport-equal-to-and-smaller-than('xs') {
    width: 100%;
  };
}
