@import '../../core/index';
@import './button-mixins';

.weave-button {
  // Defaults
  --border-radius: var(--border-radius-default);
  --display-as: inline-flex;
  --font-color: var(--color-white);
  --bg-color: var(--color-gray);
  --bg-color-hover: var(--color-gray-light);
  --py: var(--spacing-xs);
  --px: var(--spacing-sm);
  --elevation: var(--elevated-1);

  // Default to medium size if no modifier added
  @include weave-button--md;
  @include weave-button;

  &.is-disabled {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }

  &:not(.is-disabled):not(.weave-button--flat):hover {
    --elevation: var(--elevated-2);
    opacity: .85;
  }

  &:focus:not(.is-disabled) {
    opacity: 1;
  }
}

.weave-button--full-width {
  width: 100%;
}

.weave-button--xs {
  @include weave-button--xs;
}

.weave-button--sm {
  @include weave-button--sm;
}

.weave-button--md {
  @include weave-button--md;
}

.weave-button--lg {
  @include weave-button--lg;
}

.weave-button--responsive {
  @include weave-button--responsive;
}

.weave-button--cta {
  --bg-color: var(--color-watermelon);
  --bg-color-hover: var(--color-watermelon-light);
}

.weave-button--primary {
  --bg-color: var(--color-blueberry);
  --bg-color-hover: var(--color-blueberry-light);
}

.weave-button--secondary {
  --font-color: var(--color-black);
  --bg-color: var(--color-white);
}

.weave-button--flat {
  --font-color: var(--link-color);
  --bg-color: transparent;
  --elevation: var(--elevated-0);
}
