@import '../../core/index';

@mixin weave-button {
  // Default to medium size if no modifier added
  @include weave-button-md;
  @include transition(background-color, box-shadow, outline);
  @include rounded;
  @include elevated;
  @include py;
  @include px;
  @include margin;
  @include bg;
  @include color;
  @include border;
  @include display-as;
  @include typeset;
  @include clickable;

  text-transform: uppercase;
  justify-content: center;

  &.is-disabled {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }

  &:hover:not(.is-disabled):not(.weave-button--flat) {
    --elevation: var(--elevated-2);
  }

  &:hover:not(.is-disabled) {
    --bg-color: var(--bg-color-hover);
  }
}

@mixin weave-button-xs {
  --py: var(--spacing-none);
  --px: var(--spacing-sm);
  --font-size: var(--type-size-f0);
  --line-height: var(--component-line-height-f0);
}

@mixin weave-button-sm {
  --py: var(--spacing-xs);
  --px: var(--spacing-md);
  --font-size: var(--type-size-f1);
  --line-height: var(--component-line-height-f1);
}

@mixin weave-button-md {
  --py: var(--spacing-sm);
  --px: var(--spacing-lg);
  --font-size: var(--type-size-f2);
  --line-height: var(--component-line-height-f2);
}

@mixin weave-button-lg {
  --py: var(--spacing-md);
  --px: var(--spacing-xl);
  --font-size: var(--type-size-f3);
  --line-height: var(--component-line-height-f3);
}

.weave-button {
  // Defaults
  --border-radius: var(--border-radius-default);
  --display-as: inline-flex;
  --font-color: #{$color-white};
  --bg-color: #{$color-gray};
  --bg-color-hover: #{lighten($color-gray, 10%)};
  --elevation: var(--elevated-1);
  --mr: var(--spacing-sm);
  --border-width: 0;
  --font-size: var(--type-size-f2);
  --line-height: var(--component-line-height-f2);

  @include weave-button;
}

.weave-button--full-width {
  width: 100%;
}

.weave-button--cta {
  --bg-color: #{$color-watermelon};
  --bg-color-hover: #{lighten($color-watermelon, 10%)};
}

.weave-button--primary {
  --bg-color: #{$color-blueberry};
  --bg-color-hover: #{lighten($color-blueberry, 10%)};
}

.weave-button--secondary {
  --font-color: #{$color-black};
  --bg-color: #{$color-white};
  --bg-color-hover: #{$color-white};
}

.weave-button--flat {
  --font-color: var(--link-color);
  --bg-color: transparent;
  --elevation: var(--elevated-0);
  --bg-color-hover: #{$color-black-10};
}

.weave-button--xs {
  @include weave-button-xs;
}

.weave-button--sm {
  @include weave-button-sm;
}

.weave-button--md {
  @include weave-button-md;
}

.weave-button--lg {
  @include weave-button-lg;
}

.weave-button--responsive {
  @include viewport-equal-to-and-smaller-than('full') {
    @include weave-button-lg;
  };

  @include viewport-equal-to-and-smaller-than('lg') {
    @include weave-button-md;
  };

  @include viewport-equal-to-and-smaller-than('sm') {
    @include weave-button-sm;
  };

  @include viewport-equal-to-and-smaller-than('xs') {
    width: 100%;
  };
}
