@import '../weave-ui-core/index';
@import './button-mixins';

.weave-button {
  // Default to medium size if no modifier added
  @include weave-button--md;
  @include weave-button;

  // Defaults
  --border-radius: var(--border-radius-default);
  --display-as: inline-flex;
  --font-color: #{$color-white};
  --bg-color: #{$color-gray};
  --bg-color-hover: #{lighten($color-gray, 10%)};
  --py: var(--spacing-xs);
  --px: var(--spacing-sm);
  --elevation: var(--elevated-1);

  &.is-disabled {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }

  &:not(.is-disabled):not(.weave-button--flat):hover {
    --elevation: var(--elevated-2);
  }

  &:not(.is-disabled):hover {
    --bg-color: var(--bg-color-hover);
  }

  &:focus:not(.is-disabled) {
    opacity: 1;
  }
}

.weave-button--full-width {
  width: 100%;
}

.weave-button--xs {
  @include weave-button--xs;
}

.weave-button--sm {
  @include weave-button--sm;
}

.weave-button--md {
  @include weave-button--md;
}

.weave-button--lg {
  @include weave-button--lg;
}

.weave-button--responsive {
  @include weave-button--responsive;
}

.weave-button--cta {
  --bg-color: #{$color-watermelon};
  --bg-color-hover: #{lighten($color-watermelon, 10%)};
}

.weave-button--primary {
  --bg-color: #{$color-blueberry};
  --bg-color-hover: #{lighten($color-blueberry, 10%)};
}

.weave-button--secondary {
  --font-color: #{$color-black};
  --bg-color: #{$color-white};
  --bg-color-hover: #{$color-white};
}

.weave-button--flat {
  --font-color: var(--link-color);
  --bg-color: transparent;
  --elevation: var(--elevated-0);
  --bg-color-hover: #{$color-black-10};
}
