// Label Variables
$label-bg--default: color(gray-light);
$label-bg--alert:   $colored-bg--error;
$label-bg--accent:  color(mint-dark);
$label-bg--deemphasize: color(white);

$label-text-color--default: $text--primary;
$label-text-color--alert:   color(white);
$label-text-color--accent:  color(white);
$label-text-color--deemphasize: $text--secondary;

.weave-label {
  vertical-align: middle;
  display: inline-flex;
  border-radius: $rounded--default;
  @extend %type-weight--base !optional;
  background-color: $label-bg--default;

  // Empty state doesn't show anything
  &:empty {
    padding: 0;
  }

  &--accent {
    background-color: $label-bg--accent;
    color: $label-text-color--accent;
  }

  &--alert {
    background-color: $label-bg--alert;
    color: $label-text-color--alert;
  }

  &--deemphasize {
    background-color: $label-bg--deemphasize;
    border: 1px solid color(gray-light);
    color: $label-text-color--deemphasize;
  }

  &--sm {
    @extend %uppercase !optional;
    @include type(xxs);
    padding: 0 space(xs);
  }

  &--md {
    @include type(xs);
    padding: space(xs) space(sm);
  }

  &--lg {
    @include type(md);
    padding: space(sm) space(md);
  }
}
