$popover-padding--default: space(lg);
$popover-bg: color(white);
$popover-type-color: $text--primary;

$popover-min-width: 15rem;
$popover-max-width: 25rem;

$popover-triangle-width: 1rem;
$popover-triangle-height: .5rem;
$popover-triangle-bg-color: color(white);

%weave-triangle {
  background-color: $popover-triangle-bg-color;
  height: $popover-triangle-height;
  width: $popover-triangle-width;
}

%weave-triangle--down {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

%weave-triangle--up {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

%weave-popover,
.weave-popover {
  @extend %elevated--3 !optional;
  @include transition-once(transform, .1s, var(--transition-easing-complex));
  @include type(sm, true);
  background-color: $popover-bg;
  border-radius: $rounded--default;
  color: $popover-type-color;
  max-width: $popover-max-width;
  min-width: $popover-min-width;
  padding: $popover-padding--default;
  position: relative;
  text-align: left;
  visibility: hidden;
  width: fit-content;

  &::before {
    @extend %weave-triangle, %weave-triangle--down !optional;
    bottom: -$popover-triangle-height;
    content: '';
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }

  &--down {
    &::before {
      @extend %weave-triangle--up !optional;
      top: -$popover-triangle-height;
    }
  }

  &--centered {
    left: 50%;
    transform: translate(-50%, calc(-100% + -.25rem));

    &.weave-popover--down {
      transform: translate(-50%, calc(100% + .25rem));
    }
  }

  &--pull-left {
    left: 0;
    transform: translate(0%, calc(-100% + -.25rem));

    &.weave-popover--down {
      transform: translate(0%, calc(100% + .25rem));
    }

    &::before {
      left: $popover-triangle-width;
    }
  }

  &--pull-right {
    right: 0;
    transform: translate(0%, calc(-100% + -.25rem));

    &.weave-popover--down {
      transform: translate(0%, calc(100% + .25rem));
    }

    &::before {
      left: unset;
      right: 0;
    }
  }

  @include viewport-equal-to-and-smaller-than(xs) {
    max-width: 100vw;
  }

  &.is-visible {
    visibility: visible;
  }
}

// Container class, easily used on a `label` element that enables css-only
// popovers on click
.weave-has-popover {
  position: relative;

  & > .weave-popover {
    position: absolute;
    top: -$popover-triangle-height;

    &.weave-popover--down {
      bottom: -$popover-triangle-height;
      top: auto;
    }
  }

  &__hidden-checkbox {
    // Hides checkbox offscreen, but keeps it focusable
    left: -100vw;
    position: absolute;
  }

  // When the input is checked, activate popover sibling
  & > input {
    &:checked {
      & ~ .weave-popover {
        visibility: visible;
      }
    }
  }
}

.weave-popover-click-indication {
  border-bottom: 1px dotted;
  cursor: pointer;
}
