$spinner-color: $colored-accent;
$spinner--lg:   8rem;
$spinner--md:   4rem;
$spinner--sm:   2rem;

// Offset forces that very Material Design look
$spinner-offset:   187;
// Duration is the timing of the full rotation
$spinner-duration: 1.8s;

.weave-spinner {
  // The weave-rotator animation turns the entire spinner slowly
  animation: weave-rotator $spinner-duration linear infinite;

  &--lg {
    width:  $spinner--lg;
    height: $spinner--lg;
  }

  &--md {
    width:  $spinner--md;
    height: $spinner--md;
  }

  &--sm {
    width:  $spinner--sm;
    height: $spinner--sm;
  }

  &__circular-path {
    stroke-dasharray: $spinner-offset;
    stroke-dashoffset: 0;
    stroke: $spinner-color;
    transform-origin: center;
    // The weave-spinner-dash animation creates a stroked semi-circle visual
    // that also turns in a circle with a different pacing
    animation: weave-spinner-dash $spinner-duration ease-in-out infinite;
  }
}

@keyframes weave-rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes weave-spinner-dash {
 0% { stroke-dashoffset: $spinner-offset; }
 50% {
   stroke-dashoffset: $spinner-offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $spinner-offset;
   transform:rotate(450deg);
 }
}
