@mixin weave-badge {
  @include weave-type-and-line-height('f0', false);
  z-index: var(--z-index);
  box-shadow: var(--elevation);
  display: var(--display-as);
  color: var(--font-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  transform: translate(-50%, -50%);

  &:empty {
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
  }
}
