@mixin weave-banner--sm {
  --py: var(--spacing-sm);
  --px: var(--spacing-md);
  @include weave-type-and-line-height('f2', true);
}

@mixin weave-banner--md {
  --py: var(--spacing-md);
  --px: var(--spacing-lg);
  @include weave-type-and-line-height('f3', true);
}

@mixin weave-banner--lg {
  --py: var(--spacing-lg);
  --px: var(--spacing-xl);
  @include weave-type-and-line-height('f4', true);
}

@mixin weave-banner--responsive {
  @include viewport-equal-to-and-smaller-than('full') {
    @include weave-banner--lg;
  };

  @include viewport-equal-to-and-smaller-than('lg') {
    @include weave-banner--md;
  };

  @include viewport-equal-to-and-smaller-than('sm') {
    @include weave-banner--sm;
  };
}

@mixin weave-banner {
  display: var(--display-as);
  color: var(--font-color);
  background-color: var(--bg-color);
  padding: var(--py) var(--px);
  box-shadow: var(--elevation);
  margin-bottom: var(--spacing-md);
}
