@import '../weave-ui-core/index';
@import './banner-mixins';

.weave-banner {
  // Default to medium size if no modifier added
  @include weave-banner--md;
  @include weave-banner;
  // Defaults
  --bg-color: var(--neutral-color);
  --display-as: flex;
  --elevation: var(--elevated-2);
  --font-color: $color-black;
}

.weave-banner__message {
  flex-grow: 1;
}

.weave-banner__close {
  @include transition(background-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  margin-right: calc((var(--px) - var(--spacing-sm)) * -1);

  &:hover {
    background-color: $color-black-10;
  }
}

.weave-banner--flat {
  --elevation: var(--elevated-0);
}

.weave-banner--error {
  @include weave-error-field;
}

.weave-banner--warning {
  @include weave-warning-field;
}

.weave-banner--info {
  @include weave-info-field;
}

.weave-banner--success {
  @include weave-success-field;
}

.weave-banner--sm {
  @include weave-banner--sm;
}

.weave-banner--md {
  @include weave-banner--md;
}

.weave-banner--lg {
  @include weave-banner--lg;
}

.weave-banner--responsive {
  @include weave-banner--responsive;
}
