@import '../../core/index';
@import './banner-mixins';

.weave-banner {
  // Defaults
  --elevation: var(--elevated-2);
  --display-as: flex;
  --bg-color: var(--neutral-color);
  --font-color: var(--color-black);

  // Default to medium size if no modifier added
  @include weave-banner--md;
  @include weave-banner;
}

.weave-banner__message {
  flex-grow: 1;
}

// CSS close icon: not needed for a js/react component
.weave-banner__close {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  position: relative;
  left: 1rem;
}

.weave-banner--error {
  --bg-color: var(--error-color);
  --font-color: var(--color-white);
}

.weave-banner--warning {
  --bg-color: var(--warning-color);
  --font-color: var(--color-black);
}

.weave-banner--info {
  --bg-color: var(--info-color);
  --font-color: var(--color-black);
}

.weave-banner--success {
  --bg-color: var(--success-color);
  --font-color: var(--color-white);
}

.weave-banner--sm {
  @include weave-banner--sm;
}

.weave-banner--md {
  @include weave-banner--md;
}

.weave-banner--lg {
  @include weave-banner--lg;
}

.weave-banner--responsive {
  @include weave-banner--responsive;
}
